 
   <!-- <app-log-in></app-log-in> --
     <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/red.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
       the chef's hat
      </a>
    </div>
   <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">להתחברות</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">קטגוריה</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">לחמים ומאפים</a></li>
        <li><a class="dropdown-item" href="#">מרקים</a></li>
        <li><a class="dropdown-item" href="#">קינוחים</a></li>
        <li><a class="dropdown-item" href="#">מנות עיקריות</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">כל הקטגוריות</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">להרשמה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ליציאה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">להוספת מתכון</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul> -->
  <!-- >לךח -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    
    <div class="container-fluid">
      <div *ngIf= "check()==true">
      <a id="link" class="navbar-brand" href="reciepe">מתכונים</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     </div>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="link" class="nav-link active"  href="#">להתחברות</a>
          </li>
           
          <li class="nav-item">
            <a id="link"class="nav-link active" aria-current="page" href="register">להרשמה</a>
          </li>
         
        
          <li class="nav-item">
            <a id="link" class="nav-link active"  (click)="logout()"  href="#">להתנתקות</a>
          </li>
          <div *ngIf= "check()==true">
          <li class="nav-item">
            <a id="link" class="nav-link active"   href="add">הוספת מתכון</a>
          </li>
        </div>
        <div *ngIf="check()==false">
          <li class="nav-item">
            <a class="nav-link">הוספת מתכון</a>
          </li>
        </div> 
        <div *ngIf="check()==false">
          <li class="nav-item">
            <a class="nav-link">מתכונים</a>
          </li>
        </div> 
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <!-- <div *ngIf="currentUser==null">
          <li class="nav-item">
            <a class="nav-link disabled">הוספת מתכון</a>
          </li>
        
      </div> -->
    </ul>
        <form class="d-flex">
          <div class="container-fluid">
            <a id="link"class="navbar-brand" href="#">
              <img src="assets/img/red.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
             the chef's hat
            </a>
          </div>
        </form>
      </div>
    </div>
  </nav>
 
   <!-- <nav  class="navbar navbar-light bg-light" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/red.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
       the chef's hat
      </a>
    </div> -->
    <!-- <app-log-in></app-log-in> -->
    <router-outlet ></router-outlet>
    
    <!-- "assets/img/Logo.jpg" -->
   <!-- <img src="assets/img/Logo.jpg" alt="" width="10" height="6" class="d-inline-block align-text-top"> -->
<!-- <div class="router">
 <router-outlet ></router-outlet> 

  <app-all-recipes></app-all-recipes>  -->
 <!-- <br>
 <br>
</div>  -->

<!-- 
 <nav  class="navbar navbar-light bg-light" style="background-color: red">
  <div class="container-fluid">
      <img src="assets/img/giphy-2.gif" alt="" width="135" height="150" class="d-inline-block align-text-top">
     the chef's hat
   
  </div> 
  <div id="footer" i> the chef's hat</div> 
 </nav> --> 
<!-- <div id="footer" >  <img src="assets/img/giphy-2.gif"  width="135" height="150">the chef's hat</div>  -->
<!-- <footer>
  <h5>כל הזכויות שמורות</h5>
  
  </footer> -->
  <!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">כל הזכויות שמורות</a>
    </div>
  </nav> -->
  