 
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    
    <div class="container-fluid">
      <div *ngIf= "check()==true">
      <a id="link" class="navbar-brand" href="reciepe">מתכונים</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     </div>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="link" class="nav-link active"  href="#">להתחברות</a>
          </li>
           
          <li class="nav-item">
            <a id="link"class="nav-link active" aria-current="page" href="register">להרשמה</a>
          </li>        
          <li class="nav-item">
            <a id="link" class="nav-link active"  (click)="logout()"  href="#">להתנתקות</a>
          </li>
          <div *ngIf= "check()==true">
          <li class="nav-item">
            <a id="link" class="nav-link active"   href="add">הוספת מתכון</a>
          </li>
        </div>
        <div *ngIf="check()==false">
          <li class="nav-item">
            <a class="nav-link">הוספת מתכון</a>
          </li>
        </div> 
        <div *ngIf="check()==false">
          <li class="nav-item">
            <a class="nav-link">מתכונים</a>
          </li>
        </div> 
    </ul>
        <form class="d-flex">
          <div class="container-fluid">
            <a id="link"class="navbar-brand" href="#">
              <img src="assets/img/red.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
             the chef's hat
            </a>
          </div>
        </form>
      </div>
    </div>
  </nav>
    <router-outlet ></router-outlet>
    
  


  