
      <form #myF="ngForm" action="/action_page.php">
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="email"><b>id</b></label>
          <input type="text" autocomplete="off" placeholder="Enter id" name="s" required    pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" [(ngModel)] ="use.Id" #s="ngModel"/> 
          <div *ngIf = "s.dirty&&s.errors?.pattern" >
           שדה זה אינו תקין
            </div>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" name="e"  [(ngModel)] ="use.Email" #e="ngModel" pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" required>
          <div *ngIf = "e.dirty&&e.errors?.pattern" >
            הזנת המייל שגויה
             </div>
             <label for="psw"><b>Password</b></label>
       <div>סיסמא חייבת להכיל לפחות 8 תווים הכוללים אות אנגלית גדולה אות אנגלית קטנה ספרה ותו מיוחד </div>
         <input type="password" placeholder="Enter Password" name="p" required   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" [(ngModel)] ="use.Password" #p="ngModel"/> 
     </div>
     <div *ngIf = "p.dirty&&p.errors?.pattern" >
    הסיסמא אינה תקינה
     </div>
      <div>
          <button type="submit" class="registerbtn"  value="register" (click)="addItem()" [disabled]='!myF.valid'>Register</button>
        </div>
        
        <div class="container signin">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
      </form>
    
      